<div class="container mt-3">
  <div class="col-md-6 offset-md-3">

    <form [formGroup]="registrationForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input MyInput
               type="text"
               class="form-control"
               id="name"
               placeholder="Full Name"
               formControlName="name" />
        <my-error controlName="name"
                  errorKey="required">Name is required.</my-error>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input MyInput
               type="email"
               class="form-control"
               id="email"
               placeholder="Enter email"
               formControlName="email" />
        <my-error controlName="email"
                  errorKey="required">Email Address is required.</my-error>
        <my-error controlName="email"
                  errorKey="email">Please enter a valid email.</my-error>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input MyInput
               type="password"
               class="form-control"
               id="password"
               placeholder="Password"
               formControlName="password" />
        <my-error controlName="password"
                  errorKey="required">Password is required.</my-error>
        <my-error controlName="password"
                  errorKey="minlength">Password must be at least 6 characters.</my-error>
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input MyInput
               type="password"
               class="form-control"
               id="passwordConfirm"
               placeholder="Password"
               formControlName="passwordConfirm" />
        <my-error controlName="password"
                  errorKey="validatePasswordConfirm">Must be equal to password.</my-error>
      </div>
      <button type="submit"
              class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>